* {
    margin: 0;
    padding: 0;
    list-style: 0;
    text-decoration: 0;
}

.header {
    width: 100%;
    height: 80px;
    display: block;
    background-color: #cb4423;
}

.inner_header {
    width: 1000px;
    height: 100%;
    display: block;
    margin: 0 auto;
    background-color: #5514aa;
}

.logo_container {
    height: 100%;
    display: table;
    float: left;
}

.logo_container h1 {
    color: #d1336a;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    font-family: 'Montserrat';
    font-size: 32px;
    font-weight: 200;
}

.logo_container h1 span{
    font-weight: 800;
}

.navigation {
    height: 100%;
    float: right;
}

.navigation a {
    height: 100%;
    display: table;
    float: left;
    padding: 0px 20px;
}

.navigation a li{
    color: #64a1cd;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    font-family: 'Roboto Condensed';
    font-size: 16px;
    list-style-type: none;
}